body {
  margin: 0;
}

a {
  color: currentColor;
}

h1 {
  color: currentColor;
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 1;
  margin: 80px 0 0;
}

nav {
  width: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  hr {
    margin: 40px 0;
    width: 100%;
  }

  a {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 20px;
    text-decoration: none;
    position: relative;
    text-align: left;

    &:hover  {
      opacity: 0.75;
    }
  }
}

main {
  text-align: center;
}

footer {
  background: currentColor;
  padding: 100px 20px;
  margin-top: 200px;
}
